body{
    background-image: linear-gradient(to right, red, orange);
    color: white;
    text-align: center;
    font-family: helvetica, Arial, sans-serif;
    font-size: 25px; 
   
}

p{
    font-size: 17px;
}
    

Header{
    padding: 10px;
    text-align: center;
    font-size: 35px;
}

h1 {
    text-shadow: 2px 2px 5px grey;
  }

Info{
    padding: 5px;
    
}

li{
    font-size: 17px;
}

ul.b {
    list-style-type: square;
  }

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}